{% include 'head.html' %}

<div class="container">
  {% include 'header.html' %}

  <form method="POST" class="p-2 shadow mb-5">
    {% csrf_token %}
    <fieldset>
      <legend><h1>Add New Member</h1></legend>
      {% if forms.errors %} {% for key, value in forms.errors.items %}
      <b>{{ value }}</b>
      {% endfor %} {% endif %} {% if messages %} {% for message in messages %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form-errors">
          <strong>{{ message }}</strong>
        </div>
      </div>
      {% endfor %} {% endif %}

      <div class="form-row row">
        <div class="col-sm-5 mb-3 form-group">
          <label for="firstName" class="form-label">First Name</label>
          <!--<input type="text" name="firstName" class="form-control" id="firstName">-->
          {{form.first_name}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="middleName" class="form-label">Middle Name</label>
          <!--<input type="text" name="middleName" class="form-control" id="middleName">-->
          {{form.middle_name}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="position" class="form-label">Position</label>
          <!--<input type="text" name="position" class="form-control" id="position">-->
          {{form.position}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="salary" class="form-label">Salary (US $)</label>
          <!--<input type="number" min='0' max='5000' name="salary" class="form-control" id="salary">-->
          {{form.salary}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="dateOfEmployment" class="form-label"
            >Date of Employment</label
          >
          <!--<input type="date" name="dateOfEmployment" class="form-control" id="dateOfEmployment">-->
          {{form.date_of_employment}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="dateOfGraduation" class="form-label"
            >Date of Graduation</label
          >
          <!--<input type="date" name="dateOfGraduation" class="form-control" id="dateOfGraduation">-->
          {{form.date_of_graduation}}
        </div>

        <div class="col-sm-5 mb-3 form-group">
          <label for="employeeSupervisor" class="form-label"
            >Choose a Supervisor</label
          >
          {{form.supervisors}}
        </div>
      </div>
    </fieldset>
    <input type="submit" value="Add" class="btn btn-primary col-3" />
  </form>
</div>
